extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method="post" action="/login")
    input(type="text" name="username")
      {change}
        //javascript code goes here
        //e refers to the browser's event Object
        //e.currentTarget refers to this DOM element
        validate(e.currentTarget.value);
    input(type="password" name="password")
      {change}
        checkPasswordStrength(this.value);

  //- ul
  //-   foreach users as user
  //-     li #{user.name} #{user.cust_code}